html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.block {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;

}

img {
width: 100%;
}

.article1 {
    position: relative;
    left: 2%;
    top: -3%;
    width: 90%;
}

.grand1 {
    font-family: 'Anton';
}

.petit {
    position: relative;
    width: 90%;
    left: 2%;
    top: -6.5%;
}
.petit1 {
    font-size: 18px;
    font-weight: bold;
}

.petit1,
.petit2{
    font-family:'Poppins' ;
}

/*partie text*/
.text {
    position: relative;
    left: 2%;
    width: 90%;
    font-family: 'Poppins';
    top: -7%;
}

.gras1 {
    font-weight: bold;
}
.mot {
    position: relative;
    left: -3%;
    font-weight: bold;
}

.grand2 {
    width: 90%;
    position: relative;
    left: 2%;
    font-family: 'Anton';
    top: -100%;
    font-size: 14px;
}

.text2 {
        position: relative;
    left: 0%;
    width: 90%;
    font-family: 'Poppins';
    top: -13%;
}

.gras2 {
    font-weight: bold;
}

.grand3 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    left: 2%;
    font-family: 'Poppins';
    top: -13%;
}

.titre1 {
    font-family: 'Anton';
    font-size: 25px;
    font-weight: bold;
}

.titre2 {
    font-family: 'Poppins';
}

.gras3 {
    font-weight: bold;
}

video {
    width: 100%;
}
@media (min-width:500px)
{
.article1 {
    position: relative;
    left: 2%;
    top: -2%;
    width: 100%;
    font-size: 20px;
}

.petit {
        position: relative;
    width: 90%;
    left: 2%;
    top: -5%;
     font-size: 20px;
}

.petit1 {
    font-size: 25px;
    font-weight: bold;
}

.petit1,
.petit2{
    font-family:'Poppins' ;
}

.text {
    top: -6%;
}

.text2 {
    height: 100%;
        position: relative;
    left: 0%;
    width: 90%;
    font-family: 'Poppins';
    top: -8%;
}

.grand3 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    left: 2%;
    font-family: 'Poppins';
    top: -8%;
}

}

@media (max-width:496px) {
 
.article1 {
    position: relative;
    left: 2%;
    top: -3%;
    width: 100%;
    font-size: 20px;
}
    
 
    .petit {
        position: relative;
    width: 90%;
    left: 2%;
    top: -6%;
     font-size: 20px;
}

    .block {
diplay:none;
display: flex;
width: 100%;
height: 100%;
flex-direction: column;

}
}


