html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.block3{
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
}

img {
width: 100%;
}

.petit {
    position: relative;
    width: 100%;
    left: 2%;
    top: 0%;
}
.petit1 {
    font-size: 18px;
    font-weight: bold;
}

.petit1,
.petit2{
    font-family:'Poppins' ;
}

.article1 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    left: 2%;
    top: 20px;
}

.img2  {
    position: relative;
    width: 80%;
    left: 7%;
}

.text1  {
    font-family: 'Poppins';
    width: 100%;
}

.article2 {
        position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    left: 0%;
    top: 35px;
    margin: 0%;
}

.img3 {
    position: relative;
    width: 100%;
}

.text2 {
    position: relative;
        font-family: 'Anton';
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    left: 2%;
}

li {
    font-weight: bold;
}

.text3 {
    position: relative;
     font-family: 'Poppins';
     left: 2%;
}

.picture {
            position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.img4,
.img5 {
    position: relative;
    width: 50%;
}

.text4 {
    position: relative;
     font-family: 'Poppins';
     left: 2%;
}

.article3 {
        position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    left: 2%;
    top: 37px;
}

.text5 {
    position: relative;
        font-family: 'Anton';
    font-weight: bold;
    font-size: 25px;
    width: 100%;
}

.text6 {
     font-family: 'Poppins'; 
}

.article4 {
        position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    left: 2%;
    top: 44px;
}

.text7 {
    position: relative;
        font-family: 'Anton';
    font-weight: bold;
    font-size: 25px;
    width: 100%;
}

.text8 {
      font-family: 'Poppins'; 
}

.text9 {
        position: relative;
        font-family: 'Anton';
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}

.detour {
     position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}

.img6 {
  width: 40%;
}

.text10 {
      font-family: 'Poppins'; 
}

.article5 {
        position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    left: 2%;
    top: 49px;
}

.text11 {
position: relative;
font-family: 'Anton';
font-weight: bold;
font-size: 19px;
width: 100%;
}

.text12 {
        font-family: 'Poppins'; 
}

.text13 {
    position: relative;
font-family: 'Anton';
font-weight: bold;
font-size: 25px;
width: 100%;
}

video {
    width: 100%
    ;
}
@media (min-width: 600px)
{
.article1 {
    flex-direction: row;
    gap: 8px;
   left: 2%;
}

.img2 {
    width: 30%;
    left: 0%;
}

.text1 {
    font-size: 20px;
}

.text3 {
    font-size: 20px;
}

.text4 {
    font-size: 20px;
}

.text6 {
    font-size: 20px;
}

.detour {
     position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
   
}

.text8 {
    font-size: 20px;
}

.text9 {
    font-size: 20px;
}

.text10 {
    font-size: 20px;
}
.text12 {
    font-size: 20px;
}

.text13 {
    font-size: 29px;
}
}
