html,body {
    width: 100%;
    height: 100%;
    background: #f3f0ff;
    margin-left: 0;
}

.option {
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
}

.ligne {
    display: flex;
    gap: 20px;
  
}

.ligne2 {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 20%;
    width: 100%;
    text-align: center;
    left: 52%;
    transform: translateX(-50%);
      font-family: 'inter';

      color: black;
}

.ligne2 a {
    
    color: black;
}

.item{
        display: flex;
    position: absolute;
    top: 25%;
    width: 95%;
    height: 2px;
    background: black;
    left: 10px;
    border-radius: 10px;
}

.text {
    position: absolute;
    font-family: 'Anton';
    font-weight: bold;
    font-size: 20px;
    left: 5%;
    width: 30%;
    word-spacing: 6px;
    top: 27%;
}
/*partie article*/
.container{
width: 100%;
position: absolute;
display: flex;
flex-direction: column;
gap: 8px;
left: 1%;
top: 37%;
}

video {
    width: 100%;
    top: 36%;
  
}
.article {
    display: flex;
    gap: 3px;
    flex-direction: column;
}
.img1 {
    width: 40%;
    border-radius: 10px;
}
.img2 {
     width: 40%;
    border-radius: 10px;
}
.img3 {
         width: 40%;
    border-radius: 10px;
}

.text1 a {
    text-decoration: none;
    color: inherit;
}
.text1{
    display: flex;
gap: 10px;
width: 100%;
height: 100%;
}
.mot1 {
    position: relative;
    font-family: 'Arial Rounded MT';
    font-size: 16px;
    font-weight: bold;
   text-decoration: none;
}

.text2 a {
     text-decoration: none;
    color: inherit;
}
.text2 {
        display: flex;
gap: 10px;
width: 100%;
height: 100%;
}

.mot2 {
    position: relative;
    font-family: 'Arial Rounded MT';
    font-size: 16px;
    font-weight: bold;
}

.text3 a {
         text-decoration: none;
    color: inherit;
}
.text3 {
            display: flex;
gap: 10px;
width: 100%;
height: 100%;
}

.mot3 {
      position: relative;
    font-family: 'Arial Rounded MT';
    font-size: 16px;
    font-weight: bold;
}

@media (min-width:500px) {
    .ligne2 {
        top: 20%;
        font-family: 'inter';
        font-size: 25px;
        gap: 25px;
    }
}

@media (max-width:496px) {
      .ligne2 {
        top: 21%;
        font-family: 'inter';
        font-size: 15px;
        gap: 15px;
    }
}



