html,body {
    width: 100%;
    height: 100%;

}
/*centrer une image au milieu*/
.mot{
    position: fixed;
    width: 100vw;
    color: #38b6ff;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.trait {
       display: flex;
    position: absolute;
    top: 5%;
    width: 98%;
    height: 2px;
    background: #38b6ff;
    left: 8px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 20px;
    position: absolute;
   text-align: center;
   top: 10%;
}

.icon {
font-size: 30px;
}

.mail,
.num,
.temps {
    font-size: 20px;
}


