html,body {
    display: block;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100%;
}

.image img{
position: absolute;
width: 25%;
height: 15%;
}

.text {
    position: absolute;
    left: 30%;
    top: 5%;
    font-family: 'inter';
    width: 50%;
    font-weight: 800;
}

.grid-container {
display: flex;
  grid-template-columns:minmax(1fr);
  flex-direction: column;
 row-gap: 50px;
}

.item{
display: flex;
flex-direction: column;
position: absolute;
width: 100%;
top: 15%;
left: 0;
aspect-ratio: 16/9;
}
/*substitut de l'item1 : trait noir*/
.item12{
    display: flex;
    position: absolute;
    top: 102%;
    width: 98%;
    height: 2px;
    background: black;
    left: 5px;
    border-radius: 10px;

}

.item img {
    width: 100%;
    height: 100%;
}

.text2 {
 margin: 0;
 font-family: 'inter';
 font-size: 15px;
 font-weight: 1000;
 }

 .ligne {
    position: absolute;
    height: 50px;
 }

 .item13 {
    position: absolute;
 width: 100%;
 bottom: 5%;
 left: 0px;
 }
 .item13 img {
    width: 100%;
    height: 100%;
 }
 
 @media (max-width: 460px) {
    .text2 {
        font-size: 9px;
    }
 }