
/*généralité sur le site*/
html,body {
    display: block;
    width: 100%;
    height: 100%;
}

.sidebar {
  width: 80%;             
  height: 90%;           
  background: #f0f1f0;              
  border-radius: 25px ;  
 margin: 40px auto;       
  
}


.image img{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 10%;
    left: 20%;
}

.text {
    position: absolute;
    width: 100%;
    font-family: 'Open Sans'; 
    font-weight: bold;
    left: 45%;
    top: 15%;

}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    align-items: center;
    top: 23%;
    width: 50%;
 row-gap: 23px;    

}

.sidebar li {
display: flex;
margin: 2% auto;
margin-left: 10% ;
margin-bottom: 50% auto ;
gap: 20px;
background: white;
width: 100%;
height: 50px;
align-items: center;
display: flex;
border-radius: 20px;
 
}

.icon {
font-size: 30px;
position: relative;
top: 0px;
left: 10%;
}

.link {
    font-family:'Open Sans' ;
    font-weight: 1000;
}

li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 30px;
}

.small-screen {
  display: none;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  font-family: 'Poppins';
}

@media (max-width: 360px) {
  .sidebar {
    display: none;
  }

  .small-screen {
    display: block;
  }
}
